---
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import SectionContact from "../../components/SectionContact.astro";
import SectionHero from "../../components/SectionHero.astro";
import SectionIndustries from "../../components/SectionIndustries.astro";
import SectionProducts from "../../components/SectionProducts.astro";
import SectionTeam from "../../components/SectionTeam.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Header/>
  <main>
    <SectionHero/>
    <SectionProducts/>
    <SectionIndustries/>
    <SectionTeam/>
    <SectionContact/>
  </main>
  <Footer/>
</Layout>
